<div class="row">
	<div class="col-md-12">
		<h3>{{ title }}</h3>
	</div>
</div>
<div class="row">
	<div class="col-md-6">
		<div class="row">
			<div class="col-md-8">
				You Dealt
			</div>
			<div class="col-md-4 text-md-right">
				<app-character-stat [value]="toAmount"></app-character-stat> damage
			</div>
		</div>
		<div class="row">
			<div class="col-md-8">
				In
			</div>
			<div class="col-md-4 text-md-right">
				<app-character-stat [value]="toShots"></app-character-stat> shots
			</div>
		</div>
	</div>
	<div class="col-md-6">
		<div class="row">
			<div class="col-md-8">
				You Were Dealt
			</div>
			<div class="col-md-4 text-md-right">
				<app-character-stat [value]="fromAmount"></app-character-stat> damage
			</div>
		</div>
		<div class="row">
			<div class="col-md-8">
				In
			</div>
			<div class="col-md-4 text-md-right">
				<app-character-stat [value]="fromShots"></app-character-stat> shots
			</div>
		</div>
	</div>
</div>