.section-bar {
	list-style-type: none;
	color: #99979c;
	display: block;
	border-left:1px solid #eee;
	padding-left: 0;
}
.side-entry {
	display: block;
	
	

}

.side-entry a {
	display: block;
	padding: .125rem 1.5rem;
	color: #99979c;
	font-size: 14px;
	cursor: pointer;
}