<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
  <a class="navbar-brand" routerLink="/">EVE Stats</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
        <li *ngFor="let token of getTokens()" class="nav-item">
          <a *ngIf="getCurrentToken() != null && token.tokenInfo.CharacterID == getCurrentToken().tokenInfo.CharacterID" 
            class="nav-link user active" (click)="setCurrentToken(token.tokenInfo.CharacterID)">
            <img src="https://imageserver.eveonline.com/Character/{{ token.tokenInfo.CharacterID }}_32.jpg"> {{ token.tokenInfo.CharacterName }}
            <span class="sr-only">(current)</span>
          </a>
          <a *ngIf="getCurrentToken() == null || token.tokenInfo.CharacterID != getCurrentToken().tokenInfo.CharacterID" class="nav-link user"
            (click)="setCurrentToken(token.tokenInfo.CharacterID)">
            <img src="https://imageserver.eveonline.com/Character/{{ token.tokenInfo.CharacterID }}_32.jpg"> {{ token.tokenInfo.CharacterName }}
          </a>
        </li>
    </ul>
  </div>
</nav>
<main role="main" class="container">
  <app-year-end-stats></app-year-end-stats>
</main>