<ngb-tabset *ngIf="getSelectedCharacter() !== null">
  	<ng-template ngFor let-stat [ngForOf]="getSelectedCharacter().Stats">
		<ngb-tab title="{{ stat.year }}">
			<ng-template ngbTabContent>
				<h2> Your stats in {{ stat.year }}</h2>
				<div class=" row justify-content-md-center border-bottom pb-3 mb-4"><h1 clas="text-center" id="pvp" >PVP</h1></div>
				
				
				<div *ngIf="stat.combat" class="row justify-content-md-center">
					<div class="col-md-3">
						<div class="row">
							<div class="col-md-12"><h4 class="text-center">You Killed</h4></div>
							<div class="col-md-8">High sec</div>
							<div class="col-md-4 text-md-right"><app-character-stat [value]="stat.combat.kills_high_sec"></app-character-stat></div>
							<div class="col-md-8">Low sec</div>
							<div class="col-md-4 text-md-right"><app-character-stat [value]="stat.combat.kills_low_sec"></app-character-stat></div>
							<div class="col-md-8">Null sec</div>
							<div class="col-md-4 text-md-right"><app-character-stat [value]="stat.combat.kills_null_sec"></app-character-stat></div>
							<div class="col-md-8">Wh</div>
							<div class="col-md-4 text-md-right"><app-character-stat [value]="stat.combat.kills_wormhole"></app-character-stat></div>
							<div class="col-md-12"><h4 class="text-center">You Podded</h4></div>
							<div class="col-md-8">High sec</div>
							<div class="col-md-4 text-md-right"><app-character-stat [value]="stat.combat.kills_pod_high_sec"></app-character-stat></div>
							<div class="col-md-8">Low sec</div>
							<div class="col-md-4 text-md-right"><app-character-stat [value]="stat.combat.kills_pod_low_sec"></app-character-stat></div>
							<div class="col-md-8">Null sec</div>
							<div class="col-md-4 text-md-right"><app-character-stat [value]="stat.combat.kills_pod_null_sec"></app-character-stat></div>
							<div class="col-md-8">Wh</div>
							<div class="col-md-4 text-md-right"><app-character-stat [value]="stat.combat.kills_pod_wormhole"></app-character-stat></div>
						</div>
					</div>
					<div class="col-md-6 text-center">
						<app-combat-chart [label]="'chart-' + stat.year" [data]="stat.combat"></app-combat-chart>
					</div>
					<div class="col-md-3">
						<div class="row">
							<div class="col-md-12"><h4 class="text-center">You Died</h4></div>
							<div class="col-md-8">High sec</div>
							<div class="col-md-4 text-md-right"><app-character-stat [value]="stat.combat.deaths_high_sec"></app-character-stat></div>
							<div class="col-md-8">Low sec</div>
							<div class="col-md-4 text-md-right"><app-character-stat [value]="stat.combat.deaths_low_sec"></app-character-stat></div>
							<div class="col-md-8">Null sec</div>
							<div class="col-md-4 text-md-right"><app-character-stat [value]="stat.combat.deaths_null_sec"></app-character-stat></div>
							<div class="col-md-8">Wh</div>
							<div class="col-md-4 text-md-right"><app-character-stat [value]="stat.combat.deaths_wormhole"></app-character-stat></div>
							<div class="col-md-12"><h4 class="text-center">You Were Podded</h4></div>
							<div class="col-md-8">High sec</div>
							<div class="col-md-4 text-md-right"><app-character-stat [value]="stat.combat.deaths_pod_high_sec"></app-character-stat></div>
							<div class="col-md-8">Low sec</div>
							<div class="col-md-4 text-md-right"><app-character-stat [value]="stat.combat.deaths_pod_low_sec"></app-character-stat></div>
							<div class="col-md-8">Null sec</div>
							<div class="col-md-4 text-md-right"><app-character-stat [value]="stat.combat.deaths_pod_null_sec"></app-character-stat></div>
							<div class="col-md-8">Wh</div>
							<div class="col-md-4 text-md-right"><app-character-stat [value]="stat.combat.deaths_pod_wormhole"></app-character-stat></div>
						</div>
					</div>
					<div class="col-md-12">
						<h4 class="text-center">You assisted on: <app-character-stat [value]="stat.combat.kills_assists"></app-character-stat> kills</h4>
					</div>
					<div class="row">
						<div class="col-md-6">
							<div class="col-md-8">
								You Drained</div>
							<div class="col-md-4 text-md-right">
								<app-character-stat [value]="stat.combat.cap_draining_pc"></app-character-stat> GJ
							</div>
						</div>
						<div class="col-md-6">
							<div class="col-md-8">
								You Were Drained For</div>
							<div class="col-md-4 text-md-right">
								<app-character-stat [value]="stat.combat.cap_drainedby_pc"></app-character-stat> GJ
							</div>
						</div>
					</div>
				</div>
				<div class="row border-bottom pb-3 mb-4">
					<div class="col-md-12">
						<h2 class="text-center" id="modules">Modules</h2>
					</div>
					<div class="col-md-12">
						<app-combat-damage-component title="Energy Turret Damage" 
							[toAmount]="stat.combat.damage_to_players_energy_amount" 
							[toShots]="stat.combat.damage_to_players_energy_num_shots"
							[fromAmount]="stat.combat.damage_from_players_energy_amount" 
							[fromShots]="stat.combat.damage_from_players_energy_num_shots">
						</app-combat-damage-component>
						<app-combat-damage-component title="Hybrid Turret Damage" 
							[toAmount]="stat.combat.damage_to_players_hybrid_amount" 
							[toShots]="stat.combat.damage_to_players_hybrid_num_shots"
							[fromAmount]="stat.combat.damage_from_players_hybrid_amount" 
							[fromShots]="stat.combat.damage_from_players_hybrid_num_shots">
						</app-combat-damage-component>
						<app-combat-damage-component title="Missile Damage" 
							[toAmount]="stat.combat.damage_to_players_missile_amount" 
							[toShots]="stat.combat.damage_to_players_missile_num_shots"
							[fromAmount]="stat.combat.damage_from_players_missile_amount" 
							[fromShots]="stat.combat.damage_from_players_missile_num_shots">
						</app-combat-damage-component>
						<app-combat-damage-component title="Projectile Turret Damage" 
							[toAmount]="stat.combat.damage_to_players_projectile_amount" 
							[toShots]="stat.combat.damage_to_players_projectile_num_shots"
							[fromAmount]="stat.combat.damage_from_players_projectile_amount" 
							[fromShots]="stat.combat.damage_from_players_projectile_num_shots">
						</app-combat-damage-component>
						<app-combat-damage-component title="Drone Damage" 
							[toAmount]="stat.combat.damage_to_players_combat_drone_amount" 
							[toShots]="stat.combat.damage_to_players_combat_drone_num_shots"
							[fromAmount]="stat.combat.damage_from_players_combat_drone_amount" 
							[fromShots]="stat.combat.damage_from_players_combat_drone_num_shots">
						</app-combat-damage-component>
						<app-combat-damage-component title="Fighter Damage" 
							[toAmount]="stat.combat.damage_to_players_fighter_drone_amount"
							[toShots]="stat.combat.damage_to_players_fighter_drone_num_shots" 
							[fromAmount]="stat.combat.damage_from_players_fighter_drone_amount"
							[fromShots]="stat.combat.damage_from_players_fighter_drone_num_shots">
						</app-combat-damage-component>
						<app-combat-damage-component title="Fighter Bomber Damage" 
							[toAmount]="stat.combat.damage_to_players_fighter_bomber_amount" 
							[toShots]="stat.combat.damage_to_players_fighter_bomber_num_shots"
							[fromAmount]="stat.combat.damage_from_players_fighter_bomber_amount" 
							[fromShots]="stat.combat.damage_from_players_fighter_bomber_num_shots">
						</app-combat-damage-component>
						<app-combat-damage-component title="Bomb Damage" 
							[toAmount]="stat.combat.damage_to_players_bomb_amount" 
							[toShots]="stat.combat.damage_to_players_bomb_num_shots"
							[fromAmount]="stat.combat.damage_from_players_bomb_amount" 
							[fromShots]="stat.combat.damage_from_players_bomb_num_shots">
						</app-combat-damage-component>
						<app-combat-damage-component title="Smart Bomb Damage" 
							[toAmount]="stat.combat.damage_to_players_smart_bomb_amount" 
							[toShots]="stat.combat.damage_to_players_smart_bomb_num_shots"
							[fromAmount]="stat.combat.damage_from_players_smart_bomb_amount" 
							[fromShots]="stat.combat.damage_from_players_smart_bomb_num_shots">
						</app-combat-damage-component>
						<app-combat-damage-component title="Super Weapon Damage" 
							[toAmount]="stat.combat.damage_to_players_super_amount" 
							[toShots]="stat.combat.damage_to_players_super_num_shots"
							[fromAmount]="stat.combat.damage_from_players_super_amount" 
							[fromShots]="stat.combat.damage_from_players_super_num_shots">
						</app-combat-damage-component>
						<app-combat-damage-component title="Structure Damage" 
							[toAmount]="stat.combat.damage_to_structures_amount" 
							[toShots]="stat.combat.damage_to_structures_num_shots"
							[fromAmount]="stat.combat.damage_from_structures_amount" 
							[fromShots]="stat.combat.damage_from_structures_num_shots">
						</app-combat-damage-component>
					</div>
				</div>
				<div class=" row justify-content-md-center border-bottom pb-3 mb-4"><h2 clas="text-center" id="modules">Modules</h2></div>
				<div class="row justify-content-md-center">You were...</div>
				<div class="row justify-content-md-center">
						<div class="col-md-3 text-center">Tackled<br><app-character-stat [value]="stat.combat.warp_scrambledby_pc"></app-character-stat></div>
						<div class="col-md-3 text-center">webbed<br><app-character-stat [value]="stat.combat.webifiedby_pc"></app-character-stat></div>
						<div class="col-md-3 text-center">nueted<br><app-character-stat [value]="stat.combat.cap_drainedby_pc"></app-character-stat></div>
						<div class="col-md-3 text-center">Selfdestruc<br><app-character-stat [value]="stat.combat.warp_scramble_pc"></app-character-stat></div>
				</div>
				<div class="row justify-content-md-center">You Did</div>
				<div class="row justify-content-md-center">
					<div class="col-md-3 text-center">Tackled<br><app-character-stat [value]="stat.combat.warp_scramble_pc"></app-character-stat></div>
					<div class="col-md-3 text-center">webbed<br><app-character-stat [value]="stat.combat.warp_scramble_pc"></app-character-stat></div>
					<div class="col-md-3 text-center">nueted<br><app-character-stat [value]="stat.combat.warp_scramble_pc"></app-character-stat></div>
					<div class="col-md-3 text-center">overloads<br><app-character-stat [value]="stat.module.overload"></app-character-stat></div>
				</div>
					

				<div class=" row justify-content-md-center border-bottom pb-3 mb-4"><h2 clas="text-center" id="logi" >Logi</h2></div>
				<div class=" row justify-content-md-center border-bottom pb-3 mb-4"><h2 clas="text-center" id="pvp-aggresion">PVP aggresion</h2></div>

				<div class=" row justify-content-md-center border-bottom pb-3 mb-4"><h1 clas="text-center" id="travel" >Travel</h1></div>
				<div class=" row justify-content-md-center border-bottom pb-3 mb-4"><h2 clas="text-center" id="exploring">Exploring</h2></div>

				<div class=" row justify-content-md-center border-bottom pb-3 mb-4"><h1 clas="text-center" id="chat" >Chat</h1></div>

				<div class=" row justify-content-md-center border-bottom pb-3 mb-4"><h1 clas="text-center" id="iskies" >Iskies</h1></div>

				<div class=" row justify-content-md-center border-bottom pb-3 mb-4"><h1 clas="text-center" id="pev" >Pve</h1></div>

				<div class=" row justify-content-md-center border-bottom pb-3 mb-4"><h1 clas="text-center" id="mining" >Mining</h1></div>

				<div class=" row justify-content-md-center border-bottom pb-3 mb-4"><h1 clas="text-center" id="production" >Production</h1></div>
				
				<nav id="navbar-stat" class="navbar navbar-light bg-light">
					<a class="navbar-brand" href="#">Navbar</a>
					<nav class="nav nav-pills flex-column">
					<a class="nav-link" href="#pvp">PVP</a>
					<nav class="nav nav-pills flex-column">
						<a class="nav-link ml-3 my-1" href="#modules">Modules</a>
						<a class="nav-link ml-3 my-1" href="#logi">Logi</a>
						<a class="nav-link ml-3 my-1" href="#pvp-aggresion">PVP aggresio</a>
					</nav>
					<a class="nav-link" href="#travel">Travel</a>
					<nav class="nav nav-pills flex-column">
							<a class="nav-link ml-3 my-1" href="#exploring">Exploring</a>
						</nav>
						<a class="nav-link" href="#chat">Chat</a>
						<a class="nav-link" href="#iskies">Iskies</a>
						<a class="nav-link" href="#pve">Pve</a>
						<a class="nav-link" href="#mining">Mining</a>
						<a class="nav-link" href="#production">Production</a>
					</nav>
				</nav>	
			</ng-template>
	 	</ngb-tab>
  	</ng-template>
</ngb-tabset>
